body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
/* Estilos del contenedor del chat */
.chat-container {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 100%;
    max-width: 700px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin: auto;
  }
  
  /* Estilos del historial de mensajes */
  .chat-history {
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  
  .no-messages {
    text-align: center;
    color: #aaa;
    font-style: italic;
  }
  
  /* Estilos de cada mensaje */
  .chat-message {
    margin-bottom: 15px;
    padding: 12px;
    background-color: #e6f7ff;
    border-radius: 5px;
    max-width: 80%;
    word-wrap: break-word;
    border-radius: 8px;
    position: relative;
  }
  
  /* Estilos adicionales para el mensaje del ChatBot */
  .chatbot-message {
    background-color: #d4f0e0;
    align-self: flex-start;
  }
  
  .message-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .message-user {
    align-self: flex-end;
    font-weight: bold;
  }
  
  .message-timestamp {
    font-size: 0.8em;
    color: #999;
  }
  
/* Texto del mensaje */
  .message-text {
    font-size: 1em;
    line-height: 1.5;
  }

  /* Enlaces en mensajes */
  .message-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  .message-text a:hover {
    text-decoration: underline;
  }

  /* Código en mensajes */
  .message-text code {
    font-family: "Courier New", monospace;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px 4px;
    color: #d63384;
  }
  
  /* Estilos del input y el botón de enviar */
  .chat-input-container {
    display: flex;
    align-items: center;
  }
  
  .chat-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1em;
  }
  
  .chat-send-button {
    margin-left: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .chat-send-button:hover {
    background-color: #0056b3;
  }

  .search-button {
    display: flex;
    align-items: center;
    padding: 15px 15px; 
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
  }
  
  .search-button:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
  }
  
  .button-icon {
    width: 20px; /* Ancho de la imagen */
    height: 20px; /* Alto de la imagen */
    margin-right: 5px; /* Espacio entre la imagen y el texto */
  }
  